@page "/acerca"

<h2>Acerca de Mí</h2>

<img src="https://mail.google.com/mail/u/0?ui=2&ik=10e74f72c7&attid=0.1&permmsgid=msg-a:r3223358204425763343&th=191fd5f6978b3deb&view=fimg&fur=ip&sz=s0-l75-ft&attbid=ANGjdJ-yxZsuOHUt7Vxp9oqXRKlu3ewOw1RTJIMh6y_JT1-wRVFh4UAuuOHrbRNZWWBigXdfCHTAtcBoLOvgk3nXuqiUHUJPbYf-XU-ojui_MOri7NiAo6H90NrXx98&disp=emb&realattid=C82F8FA8-B4F2-45EB-92C8-0D0191318652" alt="Foto 2x2" width="150" height="150" />
<p><strong>Nombre:</strong> Eliezer Palacio Ramos</p>
<p><strong>WhatsApp:</strong> <a href="https://wa.me/18299936506">Enlace de WhatsApp</a></p>
<p><strong>Telegram:</strong> <a href="https://t.me/EliezerPR">Enlace de Telegram</a></p>
<p><strong>Correo Electrónico:</strong> Ramoseliezer75@gmail.com</p>
